.craft-spotilight {
  overflow: hidden;
  position: relative;
  min-height: 260px;
  width: 100%;
  max-width: 200px;
  border-radius: 1rem;
  padding: 4rem 2rem;
  background: #f1f1f1b4;
  border: solid 1px #f1f1f1;
}

.craft-spotilight::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 0.75rem;
  opacity: 0;
  transition-property: background-color, opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
  background: radial-gradient(
    80px at calc(var(--x, 0) * 1px) calc(var(--y, 0) * 1px),
    blue,
    transparent 80%
  );
}

.craft-spotilight:hover::after {
  opacity: 1;
}
