@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./demos.css";

html {
  --selection: #717cb425;
  --code-background: #1b1e28;
  --code-foreground: #314052;
  --code-tile-foreground: #91b4d5;
  --remove-foreground: #83232341;
  --remove-text-foreground: #506477;
  --remove-border-foreground: #832323;
  --insert-foreground: #54ff4818;
  --insert-border-foreground: #54ff487a;
  --active-text: #add7ff;
  --line-number-foreground: #767c9d50;
}
body {
  -webkit-tap-highlight-color: transparent;
}

[data-line] {
  @apply border-l-4 border-transparent pl-2 pr-3;
}

[data-line-numbers] {
  counter-reset: line;
}

[data-line-numbers] [data-line]::before {
  @apply mr-3 inline-block w-4 text-right;
  color: var(--line-number-foreground);
  counter-increment: line;
  content: counter(line);
}

[data-line-numbers] [data-diff-remove]::before {
  content: "-";
}

[data-line-numbers] [data-diff-insert]::before {
  content: "+";
}

[data-rehype-pretty-code-title] {
  @apply rounded-t-lg px-3 py-1.5 text-xs;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  border-width: 2px 2px 0 2px;
  border-color: var(--code-background);
  background-color: var(--code-foreground);
  color: var(--code-tile-foreground);
}

[data-rehype-pretty-code-fragment] {
  @apply rounded-lg;
  background-color: var(--code-background);
}

[data-rehype-pretty-code-fragment] [data-highlighted-chars] {
  @apply inline-block;
  background-color: var(--selection);
  border-left-color: var(--active-text);
}

[data-rehype-pretty-code-fragment] [data-highlighted-line] {
  @apply inline-block;
  background-color: var(--selection);
  border-left-color: var(--active-text);
}

[data-rehype-pretty-code-fragment] [data-diff-remove] {
  border-left-color: var(--remove-border-foreground);
  background-color: var(--remove-foreground);
  user-select: none;
}

[data-rehype-pretty-code-fragment] [data-diff-remove] span {
  color: var(--remove-text-foreground) !important;
}

[data-rehype-pretty-code-fragment] [data-diff-insert] {
  border-left-color: var(--insert-border-foreground);
  background-color: var(--insert-foreground);
}

@media (max-width: 640px) {
  [data-rehype-pretty-code-fragment] {
    @apply -ml-2 -mr-2;
  }
  [data-line] {
    @apply pl-1.5;
  }
}

.prose :where(pre):not(:where([class~="not-prose"] *)) {
  @apply mb-5;
  margin-top: 0;
  padding: 0.8571429em 0;
  border-top-right-radius: unset;
  border-top-left-radius: unset;
}

@property --number {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.number-animation {
  transition: --number 1s;
  counter-reset: number var(--number);
}

.number-animation::before {
  content: counter(number);
}

/* TODO */
/* selection css var */
/* use cascade layers */
/* @media (prefers-color-scheme: dark)
  html {
    color-scheme: dark;
  }
*/
