@tailwind base;
@tailwind components;
@tailwind utilities;

/* @TODO: use cascade layers */

body {
  -webkit-tap-highlight-color: transparent;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

/* MDX */

div[data-rehype-pretty-code-fragment] .line {
  @apply border-l-4 border-transparent pl-2 pr-3;
}
div[data-rehype-pretty-code-fragment] .line--highlighted {
  border-left-color: rgb(173, 215, 255); /* @TODO verificar esse valor */
  background-color: rgb(173 215 255 / 13%); /* @TODO verificar esse valor */
}
/* @apply rounded-md bg-slate-300 bg-opacity-10 p-1; */
[data-rehype-pretty-code-fragment] .word--highlighted {
  background-color: rgb(173 215 255 / 13%);
  border-left-color: rgb(173, 215, 255); /* @TODO verificar esse valor */

  @apply inline-block;
}
div[data-rehype-pretty-code-fragment] code {
  @apply grid;
}

code[data-line-numbers] {
  counter-reset: line;
}
code[data-line-numbers] .line::before {
  /* color: rgb(255 255 255 / 0.2); @TODO verificar esse valor */
  color: #767c9d4f;
  counter-increment: line;
  content: counter(line);
  @apply mr-3 inline-block w-4 text-right;
}

div[data-rehype-pretty-code-title] {
  color: #91b4d5;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  background-color: #314052;
  @apply rounded-md px-3 py-1 text-xs;
}
div[data-rehype-pretty-code-fragment] {
  background-color: var(--tw-prose-pre-bg);
  @apply rounded-md;
}

/* @TODO improve here */
@media (max-width: 640px) {
  div[data-rehype-pretty-code-fragment] {
    @apply -ml-4 -mr-4;
  }
}

/* @TODO fix !important */
.prose :where(pre):not(:where([class~="not-prose"] *)) {
  margin-top: 0 !important;
  padding: 0.8571429em 0 !important;
}

/* @TODO: Add and remove line with + green and - red */
/* @TODO: Highligh line number */
/* #a6accd */
